In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
df = pd.read_csv("Jes.csv", header = None)
df

    0   1   2   3        4
0   a   b   c   d    apple
1   e   f   g   h   banana
2   i   j   k   l   Cherry
3   m   n   o   p    derry

## Reading CSV as a table

In [8]:
# the following outputs just the first 3 rows
df2 = pd.read_csv("Jes.csv", header = None, nrows = 3)
df2

    0   1   2   3        4
0   a   b   c   d    apple
1   e   f   g   h   banana
2   i   j   k   l   Cherry

## Writing to CSV files

In [9]:
# this creates a new CSV file called 'Jes2'
df2.to_csv("Jes2.csv")

## Displaying data directly on the screen

In [11]:
import sys

In [12]:
df2.to_csv(sys.stdout)

,0,1,2,3,4
0, a, b, c, d, apple
1,e,f,g,h,banana
2,i, j, k, l, Cherry

In [14]:
# this changes the delimiter
df2.to_csv(sys.stdout, sep = "_")

_0_1_2_3_4
0_ a_ b_ c_ d_ apple
1_e_f_g_h_banana
2_i_ j_ k_ l_ Cherry

In [18]:
# retrieving column values - you would have to explicitly list all of columns of interest
df2.to_csv(sys.stdout, columns = [0, 1, 2])

,0,1,2
0, a, b, c
1,e,f,g
2,i, j, k